body {
  font-family: "Nunito", sans-serif;
  --light-blue: #60e3ff;
  --dark-blue: #2c5785;
  --orange: #ff6900;
  --main-grey: #d3d3d3;
}

// background for every other property #60e3ff;

main {
  padding: 20px;
  text-align: center;
  font-size: 18px;

  h1 {
    font-size: 40px;
    text-align: center;
  }

  .border-bottom {
    border-bottom: 2px solid #ff6900;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 5px;
    row-gap: 5px;
  }
  .search {
    grid-column: 1/-1;
    border: 1px solid black;
  }
  .seach-box {
    width: 50%;
    height: 30px;
  }
  .button {
    border-radius: 40px;
    border: 1px solid #60e3ff;
    background-color: #2c5785;
    padding: 10px 25px;
    color: #ffffff;
    font: 16px "Nunito", sans-serif;
    cursor: pointer;
  }
  .favourites-button {
    flex-grow: 1;
    width: 100%;
  }

  .button:hover,
  .button:active {
    background-color: #ffffff;
    color: #2c5785;
  }
  .property-results {
    grid-column: span 4;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    border: 1px solid black;
  }
  .property-item {
    width: 100%;
    display: flex;
    margin: 5px;
    justify-content: space-around;
  }

  .property-item:nth-child(even) {
    background-color: var(--main-grey);
  }
  .property-details {
    flex-grow: 4;
  }

  .property-image {
    width: 200px;
    height: 150;
    flex-grow: 2;
  }
  .additional-list {
    grid-column: span 2;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .map {
    height: 500px;
    border: 1px solid black;
  }
  .favourite-items {
    border: 1px solid black;
    height: 500px;
  }
}
